<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="DirectoryConfiguration"
                 type="CustomFileCompression.CustomConfiguration.DirMapConfig, CustomFileCompression"/>
    </configSections>
    <DirectoryConfiguration>
        <DirectoriesMapping>
            <add SourceDirname="/Users/pavan/Desktop/GitHub/CSharp/CustomFileCompression/Input"
                 DestinationDirname="/Users/pavan/Desktop/GitHub/CSharp/CustomFileCompression/Output"
                 FileStabilityTimeInSeconds="60"/>
            <add SourceDirname="/Users/pavan/Desktop/GitHub/CSharp/CustomFileCompression/Input1"
                 DestinationDirname="/Users/pavan/Desktop/GitHub/CSharp/CustomFileCompression/Output1"
                 FileStabilityTimeInSeconds="60"/>
        </DirectoriesMapping>
    </DirectoryConfiguration>
</configuration>
